<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="InventoryDatabaseUITest.Properties.Settings.invmanagdbtestConnectionString"
      connectionString="server=localhost;user id=root;database=invmanagdbtest;persistsecurityinfo=True;password=Stybe3195%;allowuservariables=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <connectionstrings>
    <!--<add name ="invmanagdb" connectionString ="Server= server address; Database = databsename; Uid= userid; Pwd= password;"  /> -->
    <add name="invmanagdb"  connectionString="Server=127.0.0.1; Database = invmanagdb; Uid=root; Pwd=myStybe3195%;"   />
  </connectionstrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>